body,
main {
  display: flex;
}
body {
  flex-direction: column;
}

main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}
@media (max-width: 768px) {
  /* Styles for smaller screens */
  article,
  aside {
    flex-direction: column;
  }
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

header {
  background-color: #f0f0f0;
  padding: 10px;
}

article {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

aside {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
}
footer {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border: 1px solid #ccc;
  background-color: #ccc;
  padding: 5px;
}
